/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%), radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.06) 50%, rgba(105, 105, 105, 0.06) 100%), radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%, rgba(172, 172, 172, 0.06) 50%, rgba(172, 172, 172, 0.06) 100%), linear-gradient(90deg, hsl(0, 0%, 1%), hsl(0, 0%, 1%));
}
.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .container {
    width: 95%;
  }
}
.navBar {
  width: 100%;
  padding: 1% 0;
  background-color: #262626;
}
.navCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .navCont {
    flex-direction: column;
  }
}
.navCont a {
  text-decoration: none;
  color: white;
}
.navCont a h1 {
  font-size: 3rem;
}
.navCont .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.navCont .navList {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .navCont .navList {
    display: none;
  }
}
.navCont .navList .navElement a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navCont .navList .navElement a .btn {
  background-color: crimson;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
}
.navCont .navList .navElement a .btn:hover {
  cursor: pointer;
  background-color: #9c0e2b;
}
.mobileNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 3rem;
  color: white;
  background-color: #0e0e0e;
  padding: 1%;
  z-index: 99;
  display: none;
}
@media (max-width: 1100px) {
  .mobileNav {
    display: block;
  }
}
.mobileNav .navList {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.mobileNav .navList a {
  text-decoration: none;
  color: white;
}
#home {
  margin-top: 6%;
}
#home .textContent {
  width: 45%;
}
#home .textContent h1,
#home .textContent h2,
#home .textContent h3 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 8rem;
}
@media (max-width: 1100px) {
  #home .textContent h1,
  #home .textContent h2,
  #home .textContent h3 {
    font-size: calc(2rem - 2);
  }
}
#home .textContent h2,
#home .textContent h3 {
  font-size: 8rem;
}
#home .textContent h3 {
  text-align: right;
  color: crimson;
}
@media (max-width: 1100px) {
  #home .textContent {
    width: 80%;
  }
}
@media (max-width: 750px) {
  #home .textContent {
    width: 90%;
  }
}
#home button {
  background-color: crimson;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  margin-top: 3%;
  font-size: 2rem;
  padding: 1rem 2rem;
}
#home button:hover {
  cursor: pointer;
  background-color: #9c0e2b;
}
#work {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
}
#work .moreWork h1 {
  font-size: 7rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1100px) {
  #work .moreWork h1 {
    font-size: calc(7rem - 2);
  }
}
@media (max-width: 1100px) {
  #work .moreWork h1 {
    font-size: 6rem;
  }
}
@media (max-width: 900px) {
  #work .moreWork h1 {
    font-size: 5rem;
  }
}
@media (max-width: 750px) {
  #work .moreWork h1 {
    font-size: 4rem;
  }
}
#work .moreWork .archive {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6%;
}
#work .moreWork .archive a {
  color: #183699;
  font-size: 2rem;
}
@media (max-width: 750px) {
  #work .moreWork .archive a {
    font-size: 1.5rem;
  }
}
#work .moreWork .wGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  #work .moreWork .wGrid {
    justify-content: center;
  }
}
#work .moreWork .wGrid .proj {
  width: 48%;
  height: 30vh;
  padding: 3% 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  background-color: #50659c;
  transition: all 0.5s ease-in-out;
}
#work .moreWork .wGrid .proj h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  #work .moreWork .wGrid .proj h1 {
    font-size: calc(3rem - 2);
  }
}
@media (max-width: 750px) {
  #work .moreWork .wGrid .proj h1 {
    font-size: 2.5rem;
  }
}
#work .moreWork .wGrid .proj P {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  #work .moreWork .wGrid .proj P {
    font-size: calc(2rem - 2);
  }
}
@media (max-width: 750px) {
  #work .moreWork .wGrid .proj P {
    font-size: 1.5rem;
  }
}
#work .moreWork .wGrid .proj div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#work .moreWork .wGrid .proj div button {
  background-color: crimson;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
#work .moreWork .wGrid .proj div button:hover {
  cursor: pointer;
  background-color: #9c0e2b;
}
#work .moreWork .wGrid .proj.proj1 {
  background: url("../assets/Portfolio.PNG");
  background-size: cover;
  background-position: center;
}
#work .moreWork .wGrid .proj.proj2 {
  background: url("../assets/github.PNG");
  background-size: cover;
  background-position: center;
}
#work .moreWork .wGrid .proj.proj3 {
  background: url("../assets/SubredditFinder.PNG");
  background-size: cover;
  background-position: center;
}
#work .moreWork .wGrid .proj.proj4 {
  background: url("../assets/nasa.PNG");
  background-size: cover;
  background-position: center;
}
#work .moreWork .wGrid .proj:hover {
  transform: scale(1.1);
}
@media (max-width: 1100px) {
  #work .moreWork .wGrid .proj {
    width: 75%;
  }
}
@media (max-width: 750px) {
  #work .moreWork .wGrid .proj {
    width: 90%;
  }
}
#skills {
  margin-top: 6%;
}
#skills .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#skills .skills h1 {
  width: 100%;
  text-align: center;
  font-size: 8rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 3%;
}
@media (max-width: 1100px) {
  #skills .skills h1 {
    font-size: calc(8rem - 2);
  }
}
#skills .skills .skill {
  background: linear-gradient(45deg, rgba(86, 86, 86, 0.04) 0%, rgba(86, 86, 86, 0.04) 50%, rgba(169, 169, 169, 0.04) 50%, rgba(169, 169, 169, 0.04) 71%, rgba(251, 251, 251, 0.04) 71%, rgba(251, 251, 251, 0.04) 100%), linear-gradient(45deg, rgba(86, 86, 86, 0.04) 0%, rgba(86, 86, 86, 0.04) 56%, rgba(169, 169, 169, 0.04) 56%, rgba(169, 169, 169, 0.04) 67%, rgba(251, 251, 251, 0.04) 67%, rgba(251, 251, 251, 0.04) 100%), linear-gradient(135deg, rgba(86, 86, 86, 0.04) 0%, rgba(86, 86, 86, 0.04) 4%, rgba(169, 169, 169, 0.04) 4%, rgba(169, 169, 169, 0.04) 75%, rgba(251, 251, 251, 0.04) 75%, rgba(251, 251, 251, 0.04) 100%), linear-gradient(90deg, #000000, #000000);
  padding: 1%;
  width: 24%;
  height: 60vh;
  margin-bottom: 3%;
  border-radius: 5%;
  display: grid;
  grid-template-rows: 40% 55% 5%;
  grid-template-columns: 100%;
  grid-template-areas: "title" "src" "time";
  text-align: center;
  font-size: 3rem;
  color: white;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1100px) {
  #skills .skills .skill {
    width: 32%;
    height: 50vh;
  }
}
@media (max-width: 750px) {
  #skills .skills .skill {
    width: 45%;
  }
}
#skills .skills .skill:hover {
  transform: scale(1.1);
}
#skills .skills .skill .title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#skills .skills .skill .title .fa {
  font-size: 8rem;
}
#skills .skills .skill .title .svg {
  height: 8rem;
  color: white;
  filter: brightness(0) invert(1);
}
#skills .skills .skill .title h1 {
  margin-top: 6%;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  #skills .skills .skill .title h1 {
    font-size: calc(2rem - 2);
  }
}
#skills .skills .skill .time {
  border-top: 1px solid gray;
  grid-area: time;
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  justify-content: end;
  align-items: center;
}
#skills .skills .skill .src {
  margin-top: 2%;
  grid-area: src;
  text-align: center;
}
#skills .skills .skill .src div {
  margin-top: 2rem;
  text-align: left;
  font-size: 2rem;
}
#skills .skills .skill .src div ul {
  margin-bottom: 5%;
}
#skills .aboutMe {
  margin-top: 6%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "img content";
}
#skills .aboutMe .text-content {
  grid-area: content;
  padding: 3%;
}
#skills .aboutMe .text-content h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 3%;
}
@media (max-width: 1100px) {
  #skills .aboutMe .text-content h1 {
    font-size: calc(3rem - 2);
  }
}
#skills .aboutMe .text-content a {
  text-decoration: none;
  color: crimson;
}
#skills .aboutMe .text-content p {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 6%;
}
#skills .aboutMe .img-wrapper {
  grid-area: img;
  padding-top: 15%;
}
#skills .aboutMe .img-wrapper img {
  grid-area: img;
  border-radius: 50%;
  width: 100%;
}
#contact {
  margin: 6% 0;
}
#contact h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 2%;
}
@media (max-width: 1100px) {
  #contact h1 {
    font-size: calc(3rem - 2);
  }
}
#contact .socials {
  display: flex;
  justify-content: space-between;
}
#contact .socials .social {
  width: 30%;
  text-align: center;
}
#contact .socials .social img {
  margin: 3% 5%;
  height: 120px;
  width: 120px;
  transition: all 0.8s ease-in-out;
}
#contact .socials .social img:hover {
  transform: scale(1.2);
}
